:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: "Roboto", "Arial", sans-serif;
}
h1, h2, h3, h4, h5, h6, p {margin: 0px;}
a {
  text-decoration: none;
  
}
.list {
  list-style: none;
}
.footer {
  background-color: #2f303a;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  padding-top: 200px;

}


h1 { margin-top: 0px;
 
  

}
h2 {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
 
}
h3 {
  color: var(--title-text-color);
  font-weight: 700;
}
ul {margin: 0;
padding: 0;
list-style: none;}
.portfolio p {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}


.button {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  
  min-height:50px ;
  margin-right: 8px;
border: 0px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.list .port-btn {margin-bottom: 50px;}
.btn {text-align: center;
padding-bottom: 200px;
}

.button:hover {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
 
}
.button:active {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.83;
  text-align: center;
  letter-spacing: 0.03em;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
  
}
.site-logo {
  color: var(--accent-color);
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  display: block;
  margin-right: 93px;
 
}
.studio-header {
  color: #000000;
}
.studio-footer {
  color: var(--primary-white-color);
  
}
.contact {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.site-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
 display: flex;
 align-items: center;
 
}
.site-nav li {margin-right: 50px;}
.site-nav li:last-child {margin-right: 0;}

.hero {
  background-color: #2f303a;
}
.hero button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
}

.team {
  background-color: #f5f4fa;
}
.team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}
.team p {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}
.about h3 {
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
 
}
.about-header {margin-bottom: 10px;}
.about p {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact:hover {
  color: var(--accent-color);
}
.contact:focus {
  color: var(--accent-color);
}
.site-nav .link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.site-nav .link:hover {
  color: var(--accent-color);
}
.site-nav .link:focus {
  color: var(--accent-color);
}
.address {
  color: var(--primary-white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.contact-footer {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.hero .button {
  font-weight: 700;
}
.auth-nav {display: flex;
margin-left: auto;}
.auth-nav .item + .item {margin-left: 50px;}
.header {display: flex;
  align-items: center;
}
.portfolio-text {margin-top: 0;
padding-bottom: 20px;
margin-bottom: 0px;
margin-left: 24px;
margin-right: 24px;
color: #757575;}
.portfolio-title {margin-bottom: 4px;
margin-left: 24px;
margin-right: 24px;
font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list {display: flex;
flex-wrap: wrap;}
.portfolio-list .portfolio-title {text-align: left;}
.port-btn {display: flex;
align-items: center;
justify-content: center;}
.port-flex {margin-right: 30px;}
.port-flex:nth-child(3n) {margin-right: 0;}
.container {width: 1200px;
margin-left: auto;
margin-right: auto;
padding-left: 15px;
padding-right: 15px;}
.work-header {margin-top: 0px;
margin-bottom: 50px;}
.work-list {display: flex;
gap: 30px;}
.about-list {display: flex;
gap: 30px;}
.team-list {display: flex;
gap: 30px; }
.footer {padding-top: 60px;
padding-bottom: 60px;}
.logo-footer {margin-bottom: 20px;}
.addres-fotter {margin-bottom: 9px;}
.contact-footer {display: flex;
flex-wrap: wrap;}
.mail {margin-bottom: 9px;}
.studio-work {
  border-top: none;
  border: 1px solid #EEEEEE;
width: 370px;}
.studio-work {margin-bottom: 30px;}
.name-header {margin-top: 30px;
margin-bottom: 10px;}
.btn-section {margin-bottom: 50px;
padding-bottom: 0px;
}
.portfolio-section {padding-top: 0px;}
.btn-size {margin-left: 22px;
margin-right: 22px;}
.hero-btn {min-width: 152px;
}
.btn-title {margin-left: 32px;
margin-right: 32px;}

.head-border {border-bottom: 1px solid #ECECEC;;}


 


